@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  color: #e0e0e0;
}

/* Стилизация скроллбара под стиль */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a; 
}
::-webkit-scrollbar-thumb {
  background: #aa8022; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4af37; 
}
