@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #E5E4E2; /* Светло-серебристый по умолчанию */
}

/* Стилизация скроллбара под матовое золото */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505; 
}
::-webkit-scrollbar-thumb {
  background: #8F7635; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #B89947; 
}
